<main class='main'>
  <div class='main-content'>
    <div class='main-content__banner banner'>
      <app-banner></app-banner>
    </div>
    <div id="market" class='main-content__market market'>
      <div class='market-wrapper'>
        <div class='market-sort'>
          <app-product-sorts></app-product-sorts>
        </div>
        <div class='market-content'>
          <div class='market-content__filters'>
            <app-product-filters></app-product-filters>
          </div>
          <div class='market-content__products'>
            <app-products></app-products>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
